<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-flex-direction-row-reverse">
      <div class="column is-two-thirds">
        <h2 class="title" id="my-expertise">My expertise</h2>
        <h3 class="subtitle" id="strategy-and-service-design">Strategy &amp; service design</h3>
        <p>As a creative and pragmatic thinker, I bridge the gap between business and design. My strengths lie in supporting organisations to make evidence-based decisions, from strategy to implementation.</p>
        <a href="/about" class="button mt-5">About me <i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="column">
        <img src="/assets/images/expertise.jpeg" alt="Expertise Image" class="card">
      </div>
    </div>
  </div>
</section>