<section class="section">
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-three-quarters">
        <h2 class="title" id="my-work">My work</h2>
        <h3 class="subtitle" id="creating-services-that-matter">Creating services that matter</h3>
        <p>I create products, services and strategies that offer meaning at a human scale. The services I create consider the needs of the people that use them and deliver better experiences and relationships.</p>
        <a href="/work" class="button mt-5">My work <i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="column">
        <img src="/assets/images/work.jpeg" alt="Work Image" class="card">
      </div>
    </div>
  </div>
</section>