<section class="section">
  <div class="container carousel my-carousel test" data-current-slide="1">
    <div class="carousel__track">
      <div class="carousel__slide">
        <h2>Slide 1 Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit.</p>
      </div>
      <div class="carousel__slide">
        <h2>Slide 2 Title</h2>
        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.</p>
      </div>
      <div class="carousel__slide">
        <h2>Slide 3 Title</h2>
        <p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.</p>
      </div>
    </div>
    <div class="controls">
      <label for="" class="carousel__control carousel__control--backward">‹</label>
      <label for="" class="carousel__control carousel__control--forward">›</label>
    </div>
  </div>
</section>


