<section class="section work">
  <div class="container">
    <h2 class="title mb-5">{{ site.work.title }}</h2>
    <p class="subtitle mb-6">{{ site.work.description }}</p>

    <div class="columns is-multiline">
        {% assign sorted_posts = site.categories.work | sort: 'date' | reverse %}
        {% for post in sorted_posts limit: 3 %} 
            <div class="column is-one-third">
              <div class="card">
                <a href="{{ post.url | relative_url }}">
                  <div class="card-image">
                    <figure class="image is-4by3"> 
                      <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media mb-4"> 
                      <div class="media-content">
                        <p class="title is-4 mb-3">{{ post.title }}</p>
                        <p class="subtitle is-6 mb-4">{{ post.date | date: "%B %d, %Y" }}</p> 
                      </div>
                    </div>
                    <div class="content mb-5">
                      {{ post.excerpt }}
                    </div>
                    <!-- Ensures the button is on a new line -->
                    <div class="mt-4">
                      <a href="{{ post.url | relative_url }}" class="button is-link is-fullwidth">Read More</a> 
                    </div>
                  </div>
                </a>
              </div>
            </div>
        {% endfor %}
    </div>
  </div>
</section>
