.carousel {
  position: relative;
  padding-top: 30px;
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  overflow: hidden;
}

.carousel::before {
  content: "Story " attr(data-current-slide) " / 3";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-size: 14px;
}

.carousel__track {
  position: relative;
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.carousel__slide {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.carousel__slide.active {
  opacity: 1;
}

.carousel__slide.slide-in-up {
  transform: translateY(100%);
  transition: transform 0.8s ease;
}

.carousel__slide.slide-in-up.active {
  transform: translateY(0);
}

.carousel__slide.slide-in-down {
  transform: translateY(-100%);
  transition: transform 0.8s ease;
}

.carousel__slide.slide-in-down.active {
  transform: translateY(0);
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.carousel__control {
  cursor: pointer;
  font-size: 24px;
  color: #000;
  user-select: none;
}